@tailwind base;
@tailwind components;
@tailwind utilities;

.graph-box{
    width: 1000px;
    height: 500px;
    position: absolute;
    bottom: 200px;
    left: 450px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
